$columns: 12
$breakpoints: ("0px": "", "600px": "-sm", "850px": "-md", "1024px": "-lg")

$gutter-width: 20px
$container-width: 90%
$container-max-width: 1200px

@import 'modules/base'
@import 'modules/rows'
@import 'modules/columns'
@import 'modules/offsets'
@import 'modules/alignment'
@import 'modules/distribution'
@import 'modules/order'
@import 'modules/modifiers'
